{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'start/css/main.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/25c96bee27.js" crossorigin="anonymous"></script>
    <title>Блог</title>
</head>
<body>
    <main>
        <div class="jumbotron">
          <h1 class="display-4">Финальное задание</h1>
          <p class="lead">Финальное задание для зачета по курсу PyWEB</p>
          <hr class="my-4">
          <p class="lead">
            <a class="btn btn-dark btn-lg" href="{% url 'about' %}" role="button">Перейти на страницу About</a>
          </p>
        </div>
    </main>
</body>
</html>
